{% extends 'profile.html' %}

{% block user_info %}
<h2 class="display-3 mx-auto">Edit Profile</h2>
<form method="POST" class="w-75 mx-auto">
    {{form.hidden_tag()}}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
        {{field.label(class_="form-label")}}
        {{field(class_="form-control")}}

        {% for err in field.errors %}
        <span class="form-text text-danger">{{err}}</span>
        {% endfor %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">Save Changes</button>
</form>
{% endblock %}