{% extends 'base.html' %}

{% block content %}
<h1 class="display-1">{{user.name}}</h1>

<div class="container">
    <ul>
        <li>
            <a href="/user/{{user.id}}/followers" class="btn">
                Followers: 
                {{user.followers | length}}
            </a>
        </li>
        <li>
            <a href="/user/{{user.id}}/following" class="btn">
                Following:
                {{user.following | length}}
            </a>
        </li>
        <li><a href="/user/{{user.id}}/posts" class="btn">Posts: {{user.posts | length}}</a></li>
        <li>
            <a href="/user/{{user.id}}/likes" class="btn">Likes: {{user.likes_posts | length}}</a>
        </li>
    </ul>
    {% block buttons %}
    <form action="">
        <button>Edit Profile</button>
    </form>
    {% endblock %}
</div>
{% block more %}
{% if movies %}
<div>
    <h3>{{user.name}}'s Favorite Movies:</h3>
    {% for movie in movies %}
    <div class="card" style="width: 18rem;">
        <img src="{{img_url}}{{movie.poster_path}}" class="card-img-top" alt="{{movie.original_title}} Poster">
        <div class="card-body">
            <h5 class="card-title">{{movie.original_title}}</h5>
            <p class="card-text">{{movie.overview}}</p>
            <a href="/movie/{{movie.id}}" class="btn btn-primary">See More</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if shows %}
<div>
    <h3>{{user.name}}'s Favorite Shows:</h3>
    {% for show in shows %}
    <div class="card" style="width: 18rem;">
        <img src="{{img_url}}{{show.poster_path}}" class="card-img-top" alt="{{show.name}} Poster">
        <div class="card-body">
            <h5 class="card-title">{{show.name}}</h5>
            <p class="card-text">{{show.overview}}</p>
            <a href="/tv/{{show.id}}" class="btn btn-primary">See More</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
{% endblock %}