{% extends 'user_profile.html' %}
{% block user_info %}
<div>
    {% for post in user.posts %}
    {% for c in content %}
    {% if post.content_id == c.id %}
    <div class="card mb-3 mx-auto" style="width: 540px;">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="{{img_url}}{{c.poster_path}}" alt="{{c.original_title or c.name}} Poster" class="img-fluid rounded-start">
                        </div>
                        <div class="col-8">
                            <div class="card-body post-card-body">
                                <div class="card-title row">
                                    <h5 class="col-12"><a
                                        {% if post.content_type == 'm' %}
                                        href="/movie/{{c.id}}"
                                        {% elif post.content_type == 't' %}
                                        href="/tv/{{c.id}}"
                                        {% endif %}
                                        >{{c.original_title or c.name}}</a>
                                    </h5>
                                </div>
                                <div class="row">
                                    <p class="card-text col-9"><b>{{post.user.name}}</b></p>
                                    <p class="card-text col-3"><i>@<a href="/user/{{post.user_id}}">{{post.user.username}}</a></i></p>
                                </div>
                                <div class="row">
                                    <p class="card-text col">{{post.content}}</p>
                                </div>
                                    {% if session['user_id'] == post.user_id %}
                                    <div class="container">
                                    <div class="card-text post-card-buttons row">
                                        <form action="/posts/{{post.id}}/delete" class="col-6"> 
                                            <button class="btn align-self-end" style="margin-top: auto;">
                                                <i class="bi bi-trash3"></i>
                                            </button>
                                        </form>
                                        <form action="/posts/{{post.id}}/edit" class="col-6">
                                            <button class="btn">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                        </form>
                                    </div>
                                    </div>
                                    {% else %}
                                        <form action="/like/post/{{post.id}}", method="POST">
                                            <button class="btn">
                                                <i class="bi bi-hand-thumbs-up
                                                    {% for like in curr_user.likes_posts %}
                                                        {% if like.post_id == post.id %}
                                                            text-danger
                                                        {% else %}
                                            
                                                        {% endif %}
                                                        {% endfor %}
                                                "></i>
                                            </button>
                                        </form>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}