{% extends 'base.html' %}

{% block content %}
<h1 class="display-1">Sign In</h1>
<form method="POST">

    {{form.hidden_tag()}}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field(class_="form-control")}}

        {% for err in field.errors %}
        <span class="form-text text-danger">{{err}}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Sign In</button>

</form>
{% endblock %}